
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            font-family: sans-serif;
            background-color: #002038;
            color: white;
            background-image: url("../img/bg.png");
            height: 100vh;
            width: 100%;
        }

        #wrapper {
            position: absolute;
            border-radius: 4%;
            left: auto;
            top: 29px;
            width: 530px;
            height: 450px;
            background-color: #0077a5;
        
        }
        #startTime {
            padding-top: 30px;
            background-color: white;
            font-style: oblique;
            margin-left: 33%;
            padding: 15px 32px;
            font-size: 15px;
            color: #00BD9D; 
        }
        #questionsDiv {
            margin: 20px;
        }

        #currentTime {
            float: right;
            margin-right: 20px;
            margin-top: 16px;
        }

        #goBack {
            background-color: white;
            position: relative;
            padding: 10px;
            font-size: 20px;
            color: white;
            top: 30%;
            left: 55%;
            width: auto;
            text-align: center;
            text-decoration: none;
        }
        #clear {
            background-color: purple;
            position: relative;
            padding: 10px;
            font-size: 20px;
            color: white;
            top: 30%;
            right: 5%;
            text-align: center;
        }
        button {
            border-radius: 8px;
        }
        textarea {
            width: 90%;
            margin: 20px;
        }
        #Submit {
            background-color: purple;
            margin-left: 33%;
            padding: 15px 32px;
            font-size: 20px;
            color: white;
        }
        label {
            margin-right: 10px;
        }
        input {
            margin-bottom: 20px;
            width: 50%;
            border: 1px solid lightgray;
        }
        h1 {
            text-align: center;
        }
        li {
            background-color: purple;
            margin-top: 10px;
            padding: 5px 15px;
            width: 80%;
            font-size: 18px;
            color: white;
        }
        #createDiv {
            margin-top: 20px;
            border-top: 1px solid lightgray;
        }

        /* Start media queries */
        /* A Media Query max-width: 786px */
@media screen and (max-width: 786px) {
    /* Resized content to fit 786px  */
        body {
            max-width: 786px;
        }
    /* Resized main-content to fit 786px  */
    #wrapper {
        position: absolute;
        left: 20%;
    }

    a {
        margin-left: 20%;
    }
        #goBack {
            
            position: relative;
            left: 55%;
        }

        #clear {
            
            position: relative;
            right: 5%;
            
        }
    }
        
    /* A Media Query max-width: 640px */
    @media screen and (max-width: 640px) {
     /* Resized content to fit 640px  */
     body {
            min-width: 640px;
            
        }
    /* Resized main-content to fit 640px  */
    #wrapper {
        position: absolute;
        left: 10%;
    }

    a {
margin-left: 10%;
        }

}

.link-score {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    color: white;
}

.logo {
    height: 180px;
    padding-left: 150px;
    margin-bottom: 30px;
}

.div-text-main {
    margin-bottom: 25px;
}

.div-text {
    margin-bottom: 30px;
    text-align: center;
}

.pagefooter {
    position: relative;
}

.footer-div {
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    justify-content: center;
    height: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
}